<div class="conversation">

<div class="conversation__middle">

  	<div class="messages" id="chat_container" style="">
		<div ng-repeat="item in messages" embed-watch="messages" class="message__item">
			<author>{{item.sender}}</author>
			<p ng-bind-html="item.text | parseUrl" oembed>
			</p>
		</div>
	</div>

	<div id="chat_input_container" class="compose">
		<!-- Floating Multiline Textfield -->

		<form action="javascript:;" name="messageForm" id="message_form">

		  <div class="mdl-textfield mdl-js-textfield temporal-user">
			<input class="mdl-textfield__input temporal-user__input" type="text" id="sample1" name="sender" ng-model="message.sender" ng-minlength="1" required placeholder="name"/>
			<!-- <label class="mdl-textfield__label" for="sample1">Name</label> -->
			  </div>

		  <div class="mdl-textfield mdl-js-textfield composer">
		    <textarea class="mdl-textfield__input" type="text" rows= "1" id="sample5" name="text" ng-model="message.text" ng-minlength="1" required placeholder="Post a message…"></textarea>
		    <!-- <label class="mdl-textfield__label" for="sample5">Message</label> -->
		  </div>

		  <button ng-click="sendMessage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect temporal-send" ng-class="{ 'mdl-button--accent' : messageForm.$valid }">Send</button>

		</form>
		
	</div>

</div>

<div class="conversation__right">
	Asideeee
</div>

</div>