/* Empty. Add your own CSS if you like */

body{
	overflow: hidden;
}

#chat_input_container textarea{
	border: none;
	display: inline;
  	padding: none !important;
  	bottom: -23px;
  	position: absolute;
}

#chat_input_container input{
	border: 1px solid rgb(200,200,200);
}

#chat_container{
	height: calc(100vh - 95px);
	overflow-y: scroll;
}

.nav-gutter-gray{
	background-color: rgb(42,44,53) !important;
	color           : white !important;
	border-right    : 0px !important;
}

.files-container{

}

#dagm8_title_container{
	background-color: rgb(34,37,43);
}

.page-content{
	overflow: hidden;
}

.conversation{
	display: flex;
}

.conversation__middle{
  -webkit-flex: 2 0 0;
  flex-basis: 0;
  flex-grow: 2;
  flex-shrink: 0;
}

.conversation__right{
	-webkit-flex: 0 2 50%;
	background-color: #fff;
	border-left: 1px solid rgba(0, 0, 0, .12);
	flex-basis: 30%;
	flex-grow: 0;
	flex-shrink: 3;
	max-width: 420px;
	min-width: 280px;
}

.compose{
	border-top: 1px solid rgba(0, 0, 0, .12);
	height: 50px;
	overflow: hidden;
	box-sizing:border-box;
}