/* Empty. Add your own CSS if you like */

body{
	overflow: hidden;
}

#chat_container{
	height: calc(100vh - 114px);
	overflow-y: scroll;
}

.nav-gutter-gray{
	background-color: rgb(42,44,53) !important;
	color           : white !important;
	border-right    : 0px !important;
}

.files-container{

}

#dagm8_title_container{
	background-color: rgb(34,37,43);
}

.page-content{
	overflow: hidden;
	height: calc(100vh - 64px);
	>div{
		height: inherit;
	}
}

.conversation{
	display: flex;
}

.conversation__middle{
  -webkit-flex: 2 0 0;
  flex-basis: 0;
  flex-grow: 2;
  flex-shrink: 0;
}

.conversation__right{
	-webkit-flex: 0 2 50%;
	background-color: #fff;
	border-left: 1px solid rgba(0, 0, 0, .12);
	flex-basis: 30%;
	flex-grow: 0;
	flex-shrink: 3;
	max-width: 420px;
	min-width: 280px;
}

.compose{
	border-top: 1px solid rgba(0, 0, 0, .12);
	height: 50px;
	overflow: hidden;
	box-sizing:border-box;
	position:relative;
}

.message__item{
  padding: 20px 0px;
  margin: 0 40px 0 30px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
	author{
		margin:0 0 5px 0;
		font-family: 'Raleway', sans-serif;
		font-weight:bold;
		font-size: 13px;
		color: rgba(0,0,0,0.87);
		line-height: 20px;
	}
	p{
		margin:0;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: rgba(0,0,0,0.54);
		line-height: 22px;
	}
}

.composer{
  width: 100%;
  padding:0;
	textarea{
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: rgba(0,0,0,0.72);
		line-height: 20px;
		border: none;
		resize: none;
		padding: 15px 40px 0 20px;
		box-sizing: border-box;
		  &:focus{
			border:none;
			box-shadow: none;
			outline: none;
		  }
	}
}


.temporal-user{
  position: absolute;
  right: 70px;
  width: 160px;
  top: 12px;
  z-index: 10;
  padding: 0;
  .temporal-user__input{
  font-size:13px;
  border:none;
  }
}

.temporal-send{
	position:absolute;
	top:5px;
	right:0;
}